!!!
%html{:lang => 'ja'}
  %head
    %title
      = current_page.data.title || "practice2"

    %meta{:name => 'viewport', :content => 'width: 360; initial-scale: 1;'}
    %link{:href => '/assets/css/bootstrap.min.css', rel: 'stylesheet'}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'}
    %script{src: 'assets/js/bootstrap.min.js'}
    = stylesheet_link_tag "normalize", "all"
  %body
    = partial 'layouts/header'
    = yield
    = partial 'layouts/footer'

  = javascript_include_tag "all"
